* {
  font-family: "Share Tech", sans-serif;
}

body {
  --text: #131510;
  --background: #fbfcf9;
  --primary: #a2c848;
  --secondary: #d1ee8c;
  --accent: #c8fa50;
  --bgTint: hsl(84, 12%, 92%);
  height: 100vh;
  margin: 0;
}

.gamearea {
  height: 95%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 10px;
}

.topArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.scoreCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
  border-radius: 50px;
  background-color: var(--primary);
  padding: 10px;
}

.scoreLine {
  width: 3px;
  height: 85%;
  background-color: var(--text);
  border-radius: 10px;
}

.scoreValue {
  font-size: x-large;
}

.optionCard {
  height: fit-content;
  max-height: 30vh;
  padding: 7px;
  border-radius: 30px;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-around;
}

.optionBtn {
  margin: 5px 0 5px 0;
  max-width: 30vh;
  border-radius: 20px;
  aspect-ratio: 1/1;
  background-color: var(--primary);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
