* {
  color: var(--text);
  background-color: var(--background);
  font-family: "Share Tech", sans-serif;
}

body {
  --text: #131510;
  --background: #fbfcf9;
  --primary: #a2c848;
  --secondary: #d1ee8c;
  --accent: #c8fa50;
  padding: 10px;
}

button {
  border-width: 4px;
  border-radius: 10px;
  height: 5rem;
  width: 30vw;
  background-color: var(--accent);
  margin: 10px;
  box-shadow: #131510 3px 3px;
  font-weight: 800;
}

.options {
  height: 50vh;
  border-radius: 15px;
  background-color: hsl(84, 12%, 92%);
}

.chooseTitle {
  max-width: fit-content;
  margin-left: 20px;
  background-color: hsl(84, 12%, 92%);
}

.optionBtns {
  display: flex;
  justify-content: space-around;

  margin: 10px;
  border-radius: 15px;
  background-color: hsl(84, 12%, 92%);
}

i {
  background-color: var(--accent);
}
